<h1>Welcome#about</h1>
<div class="socialcont">
  <%= link_to "Github", "https://github.com/jeffcharlesworth", class: " btn sociallink", target: "_blank" %>
</div>
<p>Find me in app/views/welcome/about.html.erb</p>
