<br />
<div class="jumbotron">
  <h1>Blather</h1>
  <p>Blather is your number one source for mindless chatter!</p>
  <p>
    <%= link_to "Sign in", new_session_path %>  or
    <%= link_to "Sign up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Spend hours</h2>
    <p>With Blather you can ignore work and other obligations for hours on end.</p>
  </div>
  <div class="col-md-4">
    <h2>Make internet friends</h2>
    <p>Make tons of new friends while slowly losing connection with those you love in the real world.</p>
  </div>
  <div class="col-md-4">
    <h2>Be whoever you want</h2>
    <p>Be brave, be obnoxious, it doesn't matter who you really are, on Blather you are who you want to be.</p>
  </div>
</div>
