// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
}

.sociallink {
  background-color: rgb(200, 200, 200);
  color: white;
}

.sociallink:visited {
  background-color: rgb(200, 200, 200);
  color: white;
}


.socialcont {
  width: 100%;
  text-align: center;
}
